@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*
 {
  color: #fff;
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0;
  padding:0
}

.app {
  background-color: navy;
}

.side-bar {
  background-color: #202123;
  height: 100vh;
  width: 244px;
}

.main {
  height: 100vh;
  width: 100%;
}